*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    width: 96%;
}

.navbar ul a{
    text-decoration: none;
}

.navbar ul{
    display: flex; 
}

.navbar ul li{
    list-style: none;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    color: var(--subheader-color);
    font-family: var(--ubuntu-font);
    font-size: 1.8rem;
}

.navbar ul li:hover{
    transition: 0.4s;
    color: var(--header-color);
}

@media (max-width: 1200px){
    .navbar{
        width: 94%;
    }
}
@media (max-width: 768px){
    .navbar{
        width: 94%;
    }
}
@media (max-width: 550px){
    .navbar{
        width: 89%;
    }
}