*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background: #2C3A47;
}

.navbar ul a{
    text-decoration: none;
}

.navbar ul{
    display: flex; 
}

.navbar ul li{
    list-style: none;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    color: var(--subheader-color);
    font-family: var(--ubuntu-font);
    font-size: 1.8rem;
}

.navbar ul li:hover{
    transition: 0.4s;
    color: var(--header-color);
}