* {
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
}

.arrowIcon {
  fill: white;
}

.arrowIcon:hover {
  fill: lime;
}

.midContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: #0a8de4;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.midContainer:hover {
  background-color: #002c49;
  transition: 0.5s;
  text-shadow: 0.7px 0.7px rgb(143, 242, 255);
}

.content {
  color: white;
  padding: 10px;
}

.bottomContainer1 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px 300px;
  text-align: center;
}
.bottomContainer1 p {
  font-size: 20px;
  color: rgb(92, 89, 89);
}

.bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.customBtn {
  background-color: #0437a5;
  padding: 10px 32px;
  border-radius: 8px;
  color: white;
  border: none;
  text-align: center;
}

.customBtn:hover {
  background-color: #00dbf8e5;
  color: #050505;
}

#achievements {
  display: flex;
  justify-content: center;
}

.heading {
  font-size: 28px;
  font-weight: bold;
}

.center {
  margin: auto;
  display: block;
}
