.socialIcon {
  fill: black;
}

.socialIcon:hover {
  fill: blue;
}

.nav-item {
  color: black;
}

.nav-item:hover {
  color: blue;
}

.navitemContainer {
  border-radius: 8px;
  padding: 26px;
  background-color: white;
  z-index: 3;
}
