.arrowIcon {
  fill: white;
}

.arrowIcon:hover {
  fill: lime;
}

.midContainer {
  display: flex;
  position: relative;
  height: 60vh;
  max-width: 100vw;
  background-color: #0a8de4;
  margin: 0;
  padding: 0;
}

.content {
  color: white;
  padding: 10px;
  margin: 5rem 20px 20px 50px;
  align-items: center;
}

.bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.customBtn {
  background-color: #0437a5;
  padding: 10px 32px;

  border-radius: 8px;
  color: white;
  border: none;
  text-align: center;
}

.customBtn:hover {
  background-color: #00dbf8e5;
  color: #050505;
}

@media screen and (min-width: 500px) {
  .content {
    color: white;
    padding: 10px;
    margin: 6rem 20px 20px 50px;
    align-items: center;
  }
}
