body {
  margin: 0;
}

.arrowIcon {
  fill: white;
}

.arrowIcon:hover {
  fill: lime;
}

.midContainer {
  display: flex;
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: #0a8de4;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  padding: 10px;
}

.bottomContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.customBtn {
  background-color: #0437a5;
  padding: 10px 32px;
  border-radius: 8px;
  color: white;
  border: none;
  text-align: center;
}

.customBtn:hover {
  background-color: #00dbf8e5;
  color: #050505;
}

@media screen and (max-width: 350px) {
  .content {
    color: white;
    align-items: center;
  }

  .midContainer {
    height: 80vh;
    width: 100%;
    background-color: lime;
  }

  .bottomContainer {
    width: 100%;
  }
}
