.home-container{
    display: flex;
    justify-content: space-between;
}

.home-container .intro-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15rem 5rem;
    width: 60%;
}

.home-container .intro-container .intro-text{
    font-family: var(--ubuntu-font);
    font-size: 2.5rem;
    color: var(--header-color);

}
.home-container .intro-container .name{
    font-family: var(--source-sans-font);
    font-size: 8rem;
    color: var(--subheader-color);
}

.home-container .intro-image{
    position: relative;
    width: 40%;
    height: 80vh;
}

.home-container .intro-image .splash{
    position: absolute;   
    object-fit: contain;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.home-container .intro-image .profile-pic{
    position: absolute;
    z-index: 100;
    width: 100%;
    object-fit: contain;
    height: 100%;
}