.about-header{
    font-size: 6rem;
    color: var(--subheader-color);
    font-family: var( --source-sans-font);
    text-align: center;
}

.about-header span{
    color: var(--header-color);
}

.about-header::before{
    content: "-----";
    color: #000;
}
.about-header::after{
    content: "-----";
    color: #000;
}

.about-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.about-container .about-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10rem;
}

.about-container .about-text .text{
    font-size: 1.5rem;
    color: var(--subheader-color);
}

.about-container img{
    width: 30%;
    object-fit: contain;
}


@media (max-width: 1250px){
    .about-container{
        padding: 2rem 8rem;
    }
    .about-container .about-text{
        padding: 8rem;
    }
}

@media (max-width: 1000px){
    .about-container{
        padding: 1rem 2rem;
    }
    .about-container .about-text{
        padding: 2rem;
    }

}

@media (max-width: 768px){
    .about-container img{
        width: 40%;
    }
}

@media (max-width: 550px){
    .about-container .card-image{
       padding: .5rem 1rem;
    }
    .about-container .about-text{
        padding: .5rem;
    }

}

@media (max-width: 450px){
    .about-container{
        flex-direction: column;
        justify-content: center;
    }
    .about-container .about-text{
        width: 100%;
    }
    .about-container img{
        width: 100%;
        padding: 1.5rem .2rem;
    }
}
