.about-header{
    font-size: 6rem;
    color: var(--subheader-color);
    font-family: var( --source-sans-font);
    text-align: center;
}

.about-header span{
    color: var(--header-color);
}

.about-header::before{
    content: "-----";
    color: #000;
}
.about-header::after{
    content: "-----";
    color: #000;
}

.about-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.about-container img{
    width: 30%;
    object-fit: contain;
}

.about-container .about-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 8rem;
    flex-wrap: wrap;
}

.about-container .about-text .text{
    font-size: 2rem;
    color: var(--subheader-color);
}

.bottom-about-section{
    display: flex;
    flex-direction: column;
}

.bottom-about-section .skills-container{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

.bottom-about-section .skills-container div{
    flex-basis: 6%;
    padding: 15px;
    cursor: pointer;
}

.bottom-about-section .skills-container div .skill-text{
    font-size: 1.5rem;
    color: var(--header-color);
    text-align: center;
    padding: 5px;
    
}

.bottom-about-section .achievements{
    background: #171e24;
    padding: 20px;
}

.bottom-about-section .achievements .achievements-header{
    font-size: 4rem;
    color: var(--header-color);
    text-align: center;
    
}

.bottom-about-section .achievements .achievements-text{
    text-align: center;
    font-size: 2rem;
    color: var(--subheader-color);
    padding: 10px;
    font-family: var(--titllium-ital);
}

@media (max-width: 1250px){
    .about-container{
        padding: 2rem 8rem;
    }
    .about-container .about-text{
        padding: 8rem;
    }
}

@media (max-width: 1000px){
    .about-container{
        padding: 1rem 2rem;
    }
    .about-container .about-text{
        padding: 2rem;
    }

}

@media (max-width: 768px){
    .about-container img{
        width: 40%;
    }
}

@media (max-width: 550px){
    .about-container .card-image{
       padding: .5rem 1rem;
    }
    .about-container .about-text{
        padding: .5rem;
    }

}

@media (max-width: 450px){
    .about-container{
        flex-direction: column;
        justify-content: center;
    }
    .about-container .about-text{
        width: 100%;
    }
    .about-container img{
        width: 100%;
        padding: 1.5rem .2rem;
    }
}
